html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 100%;
    min-height: 100%;
}

.modal-xl {
    width: 90% !important; 
    max-width:1200px !important;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    width: 70%;
    height: 70vh;
    float: left;
    margin-right: 10px;
}

.class-details {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.class-details .card-body.accordian {
    padding: 0.5rem;
}

.class-details-title {
    background-color: white;
    border-bottom: solid 1px #e9ecef;
    padding-bottom: 5px;
}

#functions-card-body .card-body {
    padding: 0.75rem;
}

#contributors-card-body .card-body {
    padding: 0.75rem;
}

g.node {
    pointer-events: bounding-box;
    cursor: pointer;
}

.svg-container {
    margin-top: 5px;
    overflow: hidden;
    border: solid 1px lightgrey;
}